@charset "UTF-8";

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../imagens/background2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}