@charset "UTF-8";

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background: url('../imagens/background2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
}

section#foto-perfil img{
    height: 250px;
    width: 250px;
}

section#foto-perfil{
    position: absolute;
    border-radius: 49%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background:url('../imagens/frame-iphone.png') white;
}