@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 80vh;
    width: 98vw;
}

body{
    background: url('../imagens/background2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#perfil{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 500px;
    background:url('../imagens/perfilnovo.png');
    border-radius: 50%;
}

section#infos{
    position: relative;
    top: 20%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/

    color: white;
    height: 250px;
    width: 500px;
    
}

#infos>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

#infos>p{
    text-align: justify;
}